QPushButton
#startbutton{
    background-color: salmon;
    color:bisque;
}
QPushButton
#faqbutton{
    background-color: salmon;
    color:bisque;
}
QPushButton
#exitbutton{
    background-color: salmon;
    color:bisque;
}